<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：名称空间，用于防止sql语句的名称冲突（sql语句隔离）-->
<mapper namespace="cn.itheima.dao.UserMapper">

    <!--使用pojo包装类型，实现根据用户名称模糊查询用户-->
    <select id="queryUserByQueryVo" parameterType="cn.itheima.po.QueryVo" resultType="cn.itheima.po.User">
          select * from `user` where username like '%${user.username}%'
    </select>

</mapper>